DATABASE_URL="postgresql://postgres.[ref]:[pass]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ref]:[pass]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
RESEND_API_KEY="re_..."
ADMIN_EMAIL="info@makro.com.tr"
NEXT_PUBLIC_WHATSAPP="905418771635"
NEXT_PUBLIC_PHONE="05418771635"
NEXT_PUBLIC_INSTAGRAM="makro.iselbisesi"
NEXT_PUBLIC_SITE_URL="https://makroiselbisesi.com.tr"
